{% trans_default_domain "victoire" %}
{{ form_start(form) }}
<div id="table-data" data-ordered="{{ form.rows|length }}" data-abscissa="{{ form.columnFields|length }}"></div>
<div class="row">
    <div class="col-sm-12">
        <div id="values-redactor-toolbar"></div>
        <ul class="table" id="table">
            <li>
                <ul class="vic-table-row">
                    <li class="vic-table-square"></li>

                    <li class="vic-table-square"></li>

                    {% for fieldColumn in form.columnFields %}
                    <li class="vic-table-square -action" data-abscissa="{{ loop.index0 }}">
                        {% spaceless %}
                        <button class="table-btn -remove table-delete-column" data-abscissa="{{ loop.index0 }}">
                            <i class="fa fa-minus-square-o"></i>
                        </button>
                        {% endspaceless %}
                    </li>
                    {% endfor %}

                    <li class="vic-table-square -action table-column-placeholder table-column-highlight" id="table-add-column">
                        {% spaceless %}
                        <button class="table-btn" id="table-add-column-btn" data-prototype="{{ form_widget(form.columnFields.vars.prototype.val)|e }}"data-option-prototype="{{ _self.widget_field_option(form.columnFields.vars.prototype.option)|e }}">
                            <i class="fa fa-plus-square-o"></i>
                        </button>
                        {% endspaceless %}
                    </li>
                </ul>
            </li>

            <li>
                <ul class="vic-table-row">
                    <li class="vic-table-square"></li>

                    <li class="vic-table-square"></li>

                    {% for fieldColumn in form.columnFields %}
                    <li class="vic-table-square -field" data-abscissa="{{ loop.index0 }}">
                        {{ form_widget(fieldColumn.val) }}
                    </li>
                    {% endfor %}

                    <li class="vic-table-square table-column-highlight" id="table-row-field-placeholder"></li>
                </ul>
            </li>

            {% for row in form.rows %}
            <li data-ordered="{{ loop.index0 }}">
                <ul class="vic-table-row">
                    <li class="vic-table-square -action" data-ordered="{{ loop.index0 }}">
                        {% spaceless %}
                        <button class="table-btn -remove table-delete-row" data-ordered="{{ loop.index0 }}">
                            <i class="fa fa-minus-square-o"></i>
                        </button>
                        {% endspaceless %}
                    </li>

                    {{ _self.widget_prototype(row, loop) }}

                    <li class="vic-table-square table-placeholder-row table-column-highlight" data-ordered="{{ loop.index0 }}"></li>
                </ul>
            </li>
            {% endfor %}

            <li>
                <ul class="vic-table-row vic-table-row-highlight" id="vic-table-row-placeholder">
                    <li class="vic-table-square -action " id="table-add-row">
                        {% spaceless %}
                        <button  class="table-btn" id="table-add-row-btn" data-prototype="{{ _self.widget_prototype(form.rows.vars.prototype)|e }}" data-value-prototype="{{ _self.widget_value_prototype(form.rows.vars.prototype.values.vars.prototype)|e }}">
                            <i class="fa fa-plus-square-o"></i>
                        </button>
                        {% endspaceless %}
                    </li>
                    <li class="vic-table-square vic-table-row-highlight" id="table-delete-row-placeholder">{{_self.widget_field_option(form.option)}}</li>

                    {% for fieldRow in form.columnFields %}
                    <li class="vic-table-square table-placeholder-column vic-table-row-highlight" data-abscissa="{{ loop.index0 }}">{{_self.widget_field_option(fieldRow.option)}}</li>
                    {% endfor %}

                    <li class="vic-table-square table-column-placeholder" id="vic-table-square-corner"></li>
                </ul>
            </li>
        </ul>
        {{form_widget(form.fullWidth)}}
    </div>

    <div class="hidden">
        {{ form_end(form) }}
    </div>

</div>
<div class="vic-alert vic-alert-info vic-alert-dismissible">
    <strong>{{'widget.table.help.title'|trans}}</strong>
    <br>
    {{'widget.table.help.content'|trans}}
</div>






<div class="hidden" id="prototype-delete-row">
    <li class="vic-table-square -action" data-ordered="__ORDERED__">
        {% spaceless %}
        <button class="table-btn -remove table-delete-row" data-ordered="__ORDERED__">
            <i class="fa fa-minus-square-o"></i>
        </button>
        {% endspaceless %}
    </li>
</div>

<div class="hidden" id="prototype-field-row">
    <li class="vic-table-square -field" data-ordered="__ORDERED__"></li>
</div>

<div class="hidden" id="prototype-placeholder-row">
    <li class="vic-table-square table-placeholder-row table-column-highlight" data-ordered="__ORDERED__"></li>
</div>

<div class="hidden" id="prototype-delete-column">
    <li class="vic-table-square -action" data-abscissa="__ABSCISSA__">
        {% spaceless %}
        <button class="table-btn -remove table-delete-column" data-abscissa="__ABSCISSA__">
            <i class="fa fa-minus-square-o"></i>
        </button>
        {% endspaceless %}
    </li>
</div>

<div class="hidden" id="prototype-field-column">
    <li class="vic-table-square -field" data-abscissa="__ABSCISSA__"></li>
</div>

<div class="hidden" id="prototype-placeholder-column">
    <li class="vic-table-square table-placeholder-column vic-table-row-highlight" data-abscissa="__ABSCISSA__"></li>
</div>

<div class="hidden" id="prototype-value">
    {% spaceless %}
    <li class="vic-table-square vic-table-square-value" data-ordered="__ORDERED__" data-abscissa="__ABSCISSA__">
        Value
    </li>
    {% endspaceless %}
</div>

{% macro widget_prototype(form, loop) %}
    {% if loop %}
        {% set ordered = loop.index0 %}
    {% else %}
        {% set ordered = "__ORDERED__" %}
    {% endif %}

    {% for key, item in form %}
        {% if key == "name" %}
            <li class="vic-table-square -field" data-ordered="{{ ordered }}">
                {{ form_widget(form.name) }}
            </li>
        {% endif %}

        {% if key == "values" %}
            {% for value in form.values %}
                {{ _self.widget_value_prototype(value, loop, ordered) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro widget_value_prototype(form, loop, ordered) %}
    {% if loop %}
        {% set abscissa = loop.index0 %}
    {% else %}
        {% set abscissa = "__ABSCISSA__" %}
    {% endif %}

    <li class="vic-table-square vic-table-square-value" data-ordered="{{ ordered|default('__ORDERED__') }}" data-abscissa="{{ abscissa }}">
        {{ form_widget(form.val, {'attr' : {'onclick' : "loadRedactor(this);"}}) }}
    </li>
{% endmacro %}

{% macro widget_field_option(form) %}
    <div class="text-center table-popover-field">
        <div class="table-option-percent">
            <div class="table-option-percent-value">
                {{form.percent.vars.value}}
            </div>
            <div class="table-option-percent-form">
                {{form_widget(form.percent)}}
            </div>
        </div>

    </div>
{% endmacro %}

<script type="text/javascript">
    var buttons =
    [
        'bold', 'italic', 'deleted','unorderedlist', 'orderedlist', 'link', 'alignment', 'fontcolor', 'backcolor', 'fontsize', 'fontfamily'
    ];
    $vic(document).ready(function() {
        $vic('.vic-table-square-value').children().each(function(){
            loadRedactor(this, 'hidden');
        });
        $vic('.table-option-percent').each(function(){
            var percentForm = $vic(this).children('.table-option-percent-form');
            $vic(this).children('.table-option-percent-value').editable({
                type: 'text',
                emptytext: '{{"widget.table.width.empty"|trans}}',
                placement: 'bottom',
                success: function(response, newValue){
                    $vic(this).siblings('.table-option-percent-form').children('input').val(newValue);
                }
            });
        });
        $vic('.table-delete-row').on('click', function(e){
            e.preventDefault();
            var ordered = $vic(this).data('ordered');
            $vic('*[data-ordered="' + ordered + '"]:not(#table-data)').remove();
            updateDataGrid('ordered', ordered);
        });
        $vic('.table-delete-column').on('click', function(e){
            e.preventDefault();
            var abscissa = $vic(this).data('abscissa');
            $vic('*[data-abscissa="' + abscissa + '"]:not(#table-data)').remove();
            updateDataGrid('abscissa', abscissa);
        });

        $vic('#table-add-row-btn').on('click', function(e){
            e.preventDefault();
            var numberColumn = $vic('#table-data').data('abscissa');
            var newRow = $vic(setCoordinate('<li data-ordered="__ORDERED__"><ul class="vic-table-row"></ul></li>'));
            var newRowContainer = newRow.children('ul');
            var newDeleteRow = setCoordinate($vic('#prototype-delete-row').html());
            var newFieldRow = $vic(setCoordinate($vic('#prototype-field-row').html()));
            var newPlaceholderRow = setCoordinate($vic('#prototype-placeholder-row').html());
            var fieldRowPrototype = setCoordinate($vic(this).data('prototype'));
            var valuePrototype = $vic(this).data('value-prototype');
            newRowContainer.append(newDeleteRow);
            newFieldRow.append($vic(fieldRowPrototype));
            newRowContainer.append(newFieldRow);
            for (var i = 0; i < numberColumn; i++) {
                var abscissa = i || '0';
                var newValue = setCoordinate(valuePrototype, abscissa, null);
                newRowContainer.append($vic(newValue));
            };
            newRowContainer.append(newPlaceholderRow);
            $vic(newRow).insertBefore($vic('#vic-table-row-placeholder').parent('li'));

            $vic(newRow).find('.table-delete-row').on('click', function(){
                var ordered = $vic(this).data('ordered');
                $vic('*[data-ordered="' + ordered + '"]:not(#table-data)').remove();
                updateDataGrid('ordered', ordered);

            });
            updateData('ordered');
        });
        $vic('#table-add-column-btn').on('click', function(e){
            e.preventDefault();
            var numberRow = $vic('#table-data').data('ordered');
            var valuePrototype = $vic('#table-add-row-btn').data('value-prototype');

            var newPlaceholderColumn = setCoordinate($vic('#prototype-placeholder-column').html());
            var optionPrototype = setCoordinate($vic(this).data('option-prototype'));
            placeholderPrototype = $vic(newPlaceholderColumn);
            placeholderPrototype.append(optionPrototype);

            placeholderPrototype.find('.table-option-percent').each(function(){
                var percentForm = $vic(this).children('.table-option-percent-form');
                $vic(this).children('.table-option-percent-value').editable({
                    type: 'text',
                    emptytext: '{{"widget.table.width.empty"|trans}}',
                    placement: 'bottom',
                    success: function(response, newValue){
                        $vic(this).siblings('.table-option-percent-form').children('input').val(newValue);
                    }
                });
            });
            placeholderPrototype.insertBefore($vic('#vic-table-square-corner'));
            $vic('#table .table-placeholder-row').each(function(){
                var ordered = ($vic(this).data('ordered') || '0' );
                var newValue = setCoordinate(valuePrototype, null, ordered);
                $vic(newValue).insertBefore($vic(this));
            });
            var fieldColumnPrototype = $vic(setPosition(setCoordinate($vic(this).data('prototype')), 'abscissa'));
            var newFieldColumn = $vic(setCoordinate($vic('#prototype-field-column').html()));
            newFieldColumn.append(fieldColumnPrototype);
            newFieldColumn.insertBefore($vic('#table-row-field-placeholder'));
            var newDeleteColumn = $vic(setCoordinate($vic('#prototype-delete-column').html()));
            newDeleteColumn.insertBefore($vic('#table-add-column'));

            newDeleteColumn.find('.table-delete-column').on('click', function(){
                var abscissa = $vic(this).data('abscissa');
                $vic('*[data-abscissa="' + abscissa + '"]:not(#table-data)').remove();
                updateDataGrid('abscissa', abscissa);
            });
            updateData('abscissa');
        });
        var numberColumn = $vic('#table-data').data('abscissa');
        var numberRow =  $vic('#table-data').data('ordered');
        if (numberColumn < 2) {
            for (var i = numberColumn; i < 2; i++) {
                $vic('#table-add-row-btn').click();
            };
        };
        if (numberRow < 2) {
            for (var i = numberRow; i < 2; i++) {
                $vic('#table-add-column-btn').click();
            };
        };
    });
    function loadRedactor(elem, toolbarClass)
    {
        if(toolbarClass === "undefined"){
            toolbarClass = '';
        }

        var id = $vic(elem).context.id;
        if ( $vic('#values-redactor-toolbar-' + id).length == 0)
        {
            $vic("#values-redactor-toolbar").append("<div id=\"values-redactor-toolbar-" + id + "\" class=\"" + toolbarClass + "\"></div>");
        }
        $vic("#" + id).redactor({
            buttons : buttons,
            maxHeight: 36,
            minHeight: 36,
            focus: true,
            blurCallback : function(){
                $vic('#values-redactor-toolbar-' + id).addClass('hidden');
            },
            focusCallback : function(){
                $vic('#values-redactor-toolbar-' + id).removeClass('hidden');
            },
            plugins : ['fontcolor', 'fontfamily', 'fontsize'],
            toolbarExternal: '#values-redactor-toolbar-'+ id
        });
    }

    function setCoordinate(prototype, abscissa, ordered) {
        var data = $vic('#table-data');
        var abscissa = abscissa || data.data('abscissa');
        var ordered = ordered || data.data('ordered');
        prototype = replaceStringProto('__ABSCISSA__', abscissa, prototype);
        prototype = replaceStringProto('__ORDERED__', ordered, prototype);
        return prototype;
    }

    function setPosition(prototype, type)
    {
        var data = $vic('#table-data');
        switch(type){
            case 'ordered':
                return replaceStringProto('__POSITION__', data.data('ordered'), prototype);
            break;
            case 'abscissa':
                return replaceStringProto('__POSITION__', data.data('abscissa'), prototype);
            break;
            default:
        }
        return prototype;
    }

    function replaceStringProto(proto, value, str) {
        return str.replace(new RegExp(proto, 'g'), value);
    }
    function updateData(type) {
        var data = $vic('#table-data');
        switch(type){
            case 'ordered':
                ordered = data.data('ordered');
                $vic('#table-data').data('ordered', ordered + 1);
                $vic('#table-data').attr('data-ordered', ordered + 1);
            break;
            case 'abscissa':
                abscissa = data.data('abscissa');
                $vic('#table-data').data('abscissa', abscissa + 1);
                $vic('#table-data').attr('data-abscissa', abscissa + 1);
            break;
            default:
        }
    }
    function updateDataGrid(type, value){
        var data = $vic('#table-data');
        switch(type){
            case 'ordered':
                orderedMax = data.data('ordered');
                for (i = value ; i < orderedMax; i++) {
                    $vic('*[data-ordered="' + i + '"]').each(function(){
                        var ordered = $vic(this).data('ordered') - 1;
                        $vic(this).data('ordered', ordered);
                        $vic(this).attr('data-ordered', ordered);
                    });
                };
                orderedMax = (orderedMax - 1);
                data.data('ordered', orderedMax);
                data.attr('data-ordered', orderedMax);
            break;
            case 'abscissa':
                abscissaMax = data.data('abscissa');
                for (i = value; i < abscissaMax; i++) {
                    $vic('*[data-abscissa="' + i + '"]').each(function(){
                        var abscissa = $vic(this).data('abscissa') - 1;
                        $vic(this).data('abscissa', abscissa);
                        $vic(this).attr('data-abscissa', abscissa);
                    });
                };
                abscissaMax = (abscissaMax - 1);
                data.data('abscissa', abscissaMax);
                data.attr('data-abscissa', abscissaMax);
            break;
            default:
        }

    }
    function setTableEvent () {
        $vic('.table-column-highlight').hover(function(event) {
            $vic('.table-column-highlight').each(function() {
                 $vic(this).addClass('vic-table-square-placeholder')
            });
        }, function() {

            $vic('.table-column-highlight').each(function() {
                 $vic(this).removeClass('vic-table-square-placeholder')
            });
        });
        $vic('.vic-table-row-highlight').hover(function(event) {
            $vic('.vic-table-row-highlight').each(function() {
                 $vic(this).addClass('vic-table-square-placeholder')
            });
        }, function() {

            $vic('.vic-table-row-highlight').each(function() {
                 $vic(this).removeClass('vic-table-square-placeholder')
            });
        });
    }
</script>